:root {
    --main-color--: rgb(184, 68, 0);
  }

h1 {
    color: black;
    margin: 0;
    font-size: 40px;
}

h1:hover {
    color: var(--main-color--);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 0;
}

body {
    font-family: "Mulish", Arial, sans-serif;
    margin: 0;

}

#bigImage {
    width: 100%;
    height: auto;
}

button {
    border: 1px, var(--main-color--), solid;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
    color: var(--main-color--);
    width: 100px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

button:hover {
    content:url();
}

#content {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 810px;
}
#content p {
    margin-bottom: 20px;
}

#content p {
    max-width: 40ch;
    font-size: large;
    margin-right: 5px;
}
#imgsorce {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    color: grey;
}

.credit {
    font-style: italic;
}

@media screen and (max-width: 850px) {
body {
    /* background-color: blue; */
}

#content{
    flex-direction: column;
    align-items: center;
    width: auto;
}
}
    

@media screen and (max-width: 600px) {
body {
    /* background-color: red; */
}
#imgsorce {
    flex-direction: column;
    align-items: center;
}
}
@media screen and (min-width: 850px) {
    body {
        /* background-color: orange; */
    }

    button:hover {
        transform: scale(1.1);
    }
    }
